* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Roboto", "Arial", sans-serif;
}
body {
	background: linear-gradient(45deg, rgb(44, 34, 34), rgb(41, 39, 38));
}
.footer {
	width: 104.3%;
	height: 68px;
	background: red;
	margin: -96px;
	padding: 15px;
	animation: gredient 5s ease infinite;
}
@keyframes gredient {
	0% {
		background: rgba(251, 105, 2, 0.781);
   }
	50% {
		background: rgb(0, 0, 0);
   }
	100% {
		background: rgba(251, 105, 2, 0.781);
   }
}
.nav-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -5px;
}
.nav-menu__item {
	display: flex;
	margin: 0px 10px;
}
.nav-menu__item a {
	text-decoration: none;
	color: #ffffff;
}
.nav-menu__item .active {
	text-decoration: none;
	color: #ffffff;
}
.nav-menu__item_center {
	display: block;
}
.logo {
	text-align: center;
}
.logo__link {
	display: inline-block;
}
.logo__image {
	display: block;
	width: 15%;
	margin-left: 54%;
}
.background2 {
	bottom: -2%;
	position: absolute;
	filter: blur(4px);
}
.foter {
	position: absolute;
	font-family: "Roboto", "Arial", sans-serif;
	bottom: 200;
	width: 31%;
	color: rgb(255, 255, 255);
	margin-left: 350px;
	font-size: 22px;
	padding: 25px;
}
.clou {
	float: left;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 120%;
	line-height: 55px;
	border-radius: 10px;
	font-size: 35px;
	font-weight: bold;
}
.logo1 {
	display: flex;
	text-decoration: none;
	margin: 0px 10px;
	color: rgba(255, 255, 255, 0.918);
}
.orange-block {
	position: absolute;
	bottom: -45%;
	left: 15%;
	width: 17%;
	height: 220px;
	padding:2px;
	border:3px solid rgb(255, 106, 0);
	border-radius: 15px 500px 800px 50px;
	background-color: rgba(255, 166, 0, 0.473);
}
.orange-block2 {
	position: absolute;
	bottom: -49%;
	left: 43%;
	width: 17%;
	height: 210px;
	padding:2px;
	border:3px solid rgb(255, 106, 0);
	border-radius: 15px 500px 800px 50px;
	background-color: orange;
}
.orange-block3 {
	position: absolute;
	bottom: -45%;
	left: 70%;
	width: 17%;
	height: 220px;
	padding:2px;
	border:3px solid rgb(255, 106, 0);
	border-radius: 15px 500px 800px 50px;
	background-color: rgba(255, 166, 0, 0.473);
}
.orange-block4 {
	position: absolute;
	bottom: -181%;
	left: 0%;
	width: 100%;
	height: 40px;
	background-color: rgb(255, 106, 0);
}
.orange-block5 {
	position: absolute;
	bottom: -243%;
	left: 0%;
	width: 100%;
	height: 29px;
	background-color: rgb(255, 106, 0);
}
.text {
	position: absolute;
	font-family: "Roboto", "Arial", sans-serif;
	bottom: -27%;
	color: rgb(255, 106, 0);
	margin-left: 184px;
	font-size: 22px;
	padding: 40px;
}
.text2 {
	position: absolute;
	font-family: "Roboto", "Arial", sans-serif;
	bottom: -46%;
	width: 10%;
	color: rgb(255, 255, 255);
	margin-left: 250px;
	font-size: 25px;
	padding: 40px;
}
.text3 {
	position: absolute;
	font-family: "Roboto", "Arial", sans-serif;
	bottom: -33%;
	width: 20%;
	color: rgb(255, 255, 255);
	margin-left: 640px;
	font-size: 25px;
	padding: 40px;
}
.text4 {
	position: absolute;
	font-family: "Roboto", "Arial", sans-serif;
	bottom: -50%;
	width: 10%;
	color: rgb(255, 255, 255);
	margin-left: 660px;
	font-size: 20px;
	padding: 40px;
}
.text5 {
	position: absolute;
	font-family: "Roboto", "Arial", sans-serif;
	bottom: -27%;
	width: 10%;
	color: rgb(255, 106, 0);
	margin-left: 1060px;
	font-size: 25px;
	padding: 40px;
}
.text6 {
	position: absolute;
	font-family: "Roboto", "Arial", sans-serif;
	bottom: -45%;
	width: 10%;
	color: rgb(255, 255, 255);
	margin-left: 1050px;
	font-size: 24px;
	padding: 40px;
}
.div {
	background-color: rgba(251, 105, 2, 0.781);
	width: 100%;
	margin-top:82%;
	height: 18%;
	margin-left: 0%;
}
.text7 {
	position: absolute;
	font-family: "Roboto", "Arial", sans-serif;
	bottom: -76%;
	width: 30%;
	color: rgb(255, 255, 255);
	margin-left: 520px;
	font-size: 45px;
	padding: 20px;
}
.text8 {
	position: absolute;
	font-family: "Roboto", "Arial", sans-serif;
	bottom: -83%;
	width: 30%;
	color: rgb(255, 255, 255);
	margin-left: 499px;
	font-size: 20px;
	padding: 20px;
}
.T-shirts {
	bottom: -662%;
	margin-left: -370px;
	position: absolute;
	width: 225px;
	border: 8px solid rgba(251, 105, 2, 0.781);
	border-bottom: 210px solid rgba(251, 105, 2, 0.781);
}

.text9 {
	position: absolute;
	font-family: "Roboto", "Arial", sans-serif;
	bottom: -610%;
	width: 50%;
	color: rgb(255, 255, 255);
	margin-left: -315px;
	font-size: 30px;
	padding: 20px;
}
.Trousers {
	bottom: -159%;
	margin-left: 460px;
	position: absolute;
	width: 225px;
	border: 8px solid rgba(251, 105, 2, 0.781);
	border-bottom: 210px solid rgba(251, 105, 2, 0.781);
}

.text10 {
	position: absolute;
	font-family: "Roboto", "Arial", sans-serif;
	bottom: -152.9%;
	color: rgb(255, 255, 255);
	margin-left: 33%;
	font-size: 30px;
	padding: 20px;
}
.Sneakers {
	bottom: -159%;
	margin-left: 785px;
	position: absolute;
	width: 225px;
	border: 8px solid rgba(251, 105, 2, 0.781);
	border-bottom: 210px solid rgba(251, 105, 2, 0.781);
}

.text11 {
	position: absolute;
	font-family: "Roboto", "Arial", sans-serif;
	bottom: -153%;
	width: 30%;
	color: rgb(255, 255, 255);
	margin-left: 823px;
	font-size: 30px;
	padding: 20px;
}
.Hoodies {
	bottom: -159%;
	margin-left: 1090px;
	position: absolute;
	width: 225px;
	border: 8px solid rgba(251, 105, 2, 0.781); ;
	border-bottom: 210px solid rgba(251, 105, 2, 0.781);
}
.div5 {
	background-color: rgba(251, 105, 2, 0.781);
	margin-left: 800px;
	width: 30%;
	margin-top:-10%;
	height: 20%;
}
.text12 {
	position: absolute;
	font-family: "Roboto", "Arial", sans-serif;
	bottom: -153.1%;
	color: rgb(255, 255, 255);
	margin-left: 75%;
	font-size: 30px;
	padding: 20px;
}
.ASD {
	position: absolute;
	bottom: -240%;
	margin-left: 0px;
	font-size: 30px;
	margin-top:0%;
	width: 0%;
}
.text13 {
	position: absolute;
	font-family: "open sans", Arial, sans-serif;
	bottom: -360%;
	color: rgb(255, 255, 255);
	margin-left: -30.8%;
	font-size: 24px;
	padding: 500px;
}
.text14 {
	position: absolute;
	font-family: "open sans", Arial, sans-serif;
	bottom: -390%;
	color: rgb(255, 255, 255);
	margin-left: -33%;
	font-size: 11px;
	padding: 540px;
}
.Shorts {
	bottom: -305%;
	margin-left: 1010px;
	position: absolute;
	border:8px solid rgba(251, 105, 2, 0.781);
}
.shorts2 {
	bottom: -334.4%;
	margin-left: 1010px;
	position: absolute;
	border:8px solid rgba(251, 105, 2, 0.781);
}
.shorts3 {
	bottom: -320%;
	margin-left: 1226px;
	position: absolute;
	border:8px solid rgba(251, 105, 2, 0.781);

}
.orange-block6 {
	position: absolute;
	bottom: -394%;
	left: 0%;
	width: 100%;
	height: 90px;
	background-color: rgb(255, 106, 0);
}
.WhatsApp {
	bottom: -393.7%;
	margin-left: 30px;
	position: absolute;
}
.instagram {
	bottom: -394.1%;
	margin-left: 1345px;
	width: 0%;
	position: absolute;
}
.my-button {
	background-color: rgb(255, 106, 0);
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
  }
  
  .my-button:hover {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	transform: scale(1.1);
  }
 